@model Course

<h2>Kurs Ekle</h2>
<hr>
<form asp-controller="Course" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="CourseName" class="form-label">Kurs Adı</label>
        <input asp-for="CourseName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="InstructorId" class="form-label">Öğretmen Adı</label>
        <select asp-for="InstructorId" asp-items="ViewBag.Instructors" class="form-select">
            <option value="">Seçiniz</option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>